@import '../../theme/variables.scss';

.submit-btn {
  background-color: $blue;
  color: white;
  font-size: $font-l;
  
  border: solid 1px $grey;
  border-radius: 5px;

  height: 45px;
  min-width: 190px;

  padding: 0 20px;

  .loading {
    pointer-events: none;
  }

  img {
    height: 30px;
  }
}